%load-instance-data: src/test/resources/ssb/sf10lSplit/
load-instance-data: src/test/resources/ssb/sf256lSplit/
load-cube-structure: src/test/resources/ssb/Ontology/ssb.schema.tsv
ilp-log-location: src/test/resources/logs/ilp.log
greedy-log-location: src/test/resources/logs/greedy.log
naive-log-location: src/test/resources/logs/naive.log
result-log-location: src/test/resources/logs/results.log
%budget: 10
%budget: 100
budget: 0
database-type: tdb
analytical-queries-dir: src/test/resources/ssb/queriesSimple
provenance-queries-dir: provenanceQuery/query90.txt
add-cache: warm
fragment-selector: ilp
timeout: 30