load-instance-data: src/main/resources/ssb/sf10lSplit/
load-cube-structure: src/main/resources/ssb/Ontology/ssb.schema.tsv
ilp-log-location: src/main/resources/logs/ilp.log
greedy-log-location: src/main/resources/logs/greedy.log
naive-log-location: src/main/resources/logs/naive.log
budget: 0
database-type: tdb
%analytical-queries-dir: src/main/resources/ssb/queries
analytical-queries-dir: src/main/resources/ssb/Ontology/test
provenance-queries-dir: src/main/resources/ssb/sf10lSplit/provenanceQuery