load-instance-data: /home/lgalarra/Documents/Aalborg/ProvenanceEnabledCubes/src/test/resources/ssb/sf40000lSplit10
load-cube-structure: /home/lgalarra/Documents/Aalborg/ProvenanceEnabledCubes/src/test/resources/ssb/Ontology/ssb.schema.tsv
ilp-log-location: /home/lgalarra/Documents/Aalborg/ProvenanceEnabledCubes/src/test/logs/ilp.log
greedy-log-location: /home/lgalarra/Documents/Aalborg/ProvenanceEnabledCubes/src/test/logs/greedy.log
naive-log-location: /home/lgalarra/Documents/Aalborg/ProvenanceEnabledCubes/src/test/logs/naive.log
result-log-location: /home/lgalarra/Documents/Aalborg/ProvenanceEnabledCubes/src/test/logs/results.log
experimental-log-location: /home/lgalarra/Documents/Aalborg/ProvenanceEnabledCubes/src/test/logs/expdata.log
%budget-percentage: 80
budget-percentage: 50
%budget-percentage: 25
%budget: 0
database-type: tdb
%analytical-queries-dir: /home/lgalarra/Documents/Aalborg/ProvenanceEnabledCubes/src/test/resources/ssb/queries/q2.txt
analytical-queries-dir: /home/lgalarra/Documents/Aalborg/ProvenanceEnabledCubes/src/test/resources/ssb/queries/q3.txt
%analytical-queries-dir: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/queries/ssb/q3.txt
%analytical-queries-dir: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/queries/ssb/q4.txt
%analytical-queries-dir: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/queries/ssb/q5.txt
%analytical-queries-dir: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/queries/ssb/q9.txt
%analytical-queries-dir: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/queries/ssb/q10.txt
%analytical-queries-dir: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/queries/ssb/q1.txt
provenance-queries-dir: provenanceQueries/provenance10.txt
provenance-queries-dir: provenanceQueries/provenance70.txt
add-cache: warm
%fragment-selector: ilp
%fragment-selector: ilp-distance
fragment-selector: lru
timeout: 30
evaluation-strategy: fullMaterialization
lattice-merge-strategy: noMerge
output-ilp-to-stdout: true
experimental-runs: 3
debug-query: true