load-instance-data: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/horizontalPartitioning/sf40000lSplit1000
load-cube-structure: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/schema/ssb.schema.tsv
ilp-log-location: /home/galarraga/Documents/LATTICE2017ahlstroem/logs/ilp.log
greedy-log-location: /home/galarraga/Documents/LATTICE2017ahlstroem/logs/greedy.log
naive-log-location: /home/galarraga/Documents/LATTICE2017ahlstroem/logs/naive.log
result-log-location: /home/galarraga/Documents/LATTICE2017ahlstroem/logs/results.log
experimental-log-location: /home/galarraga/Documents/LATTICE2017ahlstroem/logs/expdata.log
%budget-percentage: 80
budget-percentage: 50
%budget-percentage: 25
%budget: 0
database-type: tdb
analytical-queries-dir: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/queries/ssb/q2.txt
%analytical-queries-dir: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/queries/ssb/q3.txt
%analytical-queries-dir: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/queries/ssb/q4.txt
%analytical-queries-dir: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/queries/ssb/q5.txt
%analytical-queries-dir: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/queries/ssb/q9.txt
%analytical-queries-dir: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/queries/ssb/q10.txt
%analytical-queries-dir: /home/galarraga/Documents/LATTICE2017ahlstroem/datasets/queries/ssb/q1.txt
%provenance-queries-dir: provenanceQueries/provenance10.txt
provenance-queries-dir: provenanceQueries/provenance70.txt
add-cache: warm
fragment-selector: ilp
timeout: 30
evaluation-strategy: fullMaterialization
lattice-merge-strategy: naive
output-ilp-to-stdout: true
experimental-runs: 1