load-instance-data: src/main/resources/wikipedia/wikipedia.cube.tsv
load-cube-structure: src/main/resources/wikipedia/wikipedia.schema.tsv
ilp-log-location: src/main/resources/logs/ilp.log
greedy-log-location: src/main/resources/logs/greedy.log
naive-log-location: src/main/resources/logs/naive.log
budget: 20
database-type: inMemory
analytical-queries-dir: 
provenance-queries-dir:  